<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-3.2.xsd">

	<import resource="job-report.xml" />
	<!-- <import resource="Databasejob-report.xml" /> -->

	<bean id="jobRepository"
		class="org.springframework.batch.core.repository.support.MapJobRepositoryFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="isolationLevelForCreate" value="PROPAGATION_REQUIRES_NEW" />
	</bean>
	<bean id="transactionManager"
		class="org.springframework.batch.support.transaction.ResourcelessTransactionManager">
	</bean>
	<bean id="jobLauncher"
		class="org.springframework.batch.core.launch.support.SimpleJobLauncher">
		<property name="jobRepository" ref="jobRepository" />
	</bean>

	<bean id="dataSource"
		class="com.accenture.spring.batch.datasource.EncryptedDataSource"
		init-method="initIt">
		<property name="driverClassName" value="org.postgresql.Driver" />
		<property name="url" value="jdbc:postgresql://localhost:5432/Report" />
		<property name="fileDecrypt">
			<bean id="fileDecrypt"
				class="com.accenture.spring.batch.security.decryption.FileDecrypter">
				<property name="gpgFilePath"
					value="C:\\Users\\pratibha.ghorpade\\git\\enhanced-spring-batch\\src\\test\\resources\\enc_test.properties" />
				<property name="keyFileName"
					value="C:\\Users\\pratibha.ghorpade\\git\\enhanced-spring-batch\\src\\test\\resources\\Secret.asc" />
				<property name="passwd" value="12345" />
			</bean>
		</property>
	</bean>

</beans>